<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ChatterBox</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body style="background-color: #51dce6">
  <nav class="navbar navbar-expand-lg navbar-primary" style="background-color: #0a399ebe">
    <div class="container-fluid">
      <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chat-dots-fill"
          viewBox="0 0 16 16">
          <path
            d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
        </svg>
        ChatterBox
      </h1>

      <a class="btn btn-success float-right" href="/user/login">Login</a>

    </div>
  </nav>
  <br />
  <br />
  <div class="container text-center">
    <br />
    <br />
    <div class="card-mb-3">
      <div class="row g-0">
        <div class="col-md-7">
          <img
            src="https://expensetrackerace.s3.ap-south-1.amazonaws.com/premium_photo-1683936778314-29d834411075+(1).jpg"
            class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <br />
            <br />
            <br />
            <h1>Become a Member</h1>


            <p class="card-text">
            <h5>
              Sign up for free and and connect with your family and friends !
            </h5>
            <br>
            <a class="btn btn-success btn-lg" href="/user/signup">Signup</a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer style="background-color: #0a399ebe ;position: fixed; bottom:0 ;width:100%">
    <h5 class="text-center text-body-secondary"><b>© 2024 Company, Inc</b></h5>
  </footer>


</body>

</html>